/*img {*/
  /*image-orientation: from-image;*/
  /*height:auto;*/
/*}*/
/*img {*/
    /*[>float: left;<]*/
  /*object-fit: cover;*/
  /*width: 100%;*/
/*}*/

div.post_content.markdown img.mid {
 max-width: 45%;
}

div.post_content.markdown img.large {
 max-width: 70%;
 padding: 2em;
}

div.gallery figure {
  flex-grow: 1;
  margin: 1em;
  align-items: center;
}

.gallery {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 640px) {
  figure {
    flex-grow: 1;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

div.center figure img {
  display: block;
  text-align: center;
  margin: auto;
  padding: 20px;
  max-width: 80%;
}

div.post_content.markdown p {
  /*text-indent: 2em;*/
  padding-bottom: 1em;
  line-height: 1.5em;
  /*font-family: serif;*/
}
