div.post_content.markdown img.mid {
 max-width: 45%;
}

div.post_content.markdown img.large {
 max-width: 70%;
 padding: 2em;
}

@media only screen and (max-width: 640px) {
  figure {
    flex-grow: 1;
  }
}

div.center figure img {
  display: block;
  text-align: center;
  margin: auto;
  padding: 20px;
  max-width: 80%;
}

div.post_content.markdown p {
  padding-bottom: 1em;
  line-height: 1.5em;
}
